/build/games
/build/vendors
/build/spaghyeti_source-engine-full.exe
/build/spaghyeti_source-engine_runtime-editor.dll
/build/spaghyeti_source-engine_runtime-core.dll
/build/imgui.ini
/build/Logs.txt

/games/TestGame/build

/games/swankybubbles.exe
/games/swankybubbles/dist

/games/meatballmadness.exe
/games/meatballmadness/dist