IDI_ICON1               ICON    DISCARDABLE     "./icon.ico"
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "Spaghetaboutit!"
            VALUE "CompanyName", "Pastaboss Enterprise"
            VALUE "FileDescription", "2d game engine / content creation tool"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "spaghyeditor"
            VALUE "LegalCopyright", "Copyright Pastaboss Enterprise 2025"
            VALUE "OriginalName", "Spaghyeti Engine"
            VALUE "ProductName", "Spaghyeti Engine"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END